USE [master]
GO
/****** Object:  Database [tasks-handlerDB]    Script Date: 11/4/2020 9:20:08 AM ******/
CREATE DATABASE [tasks-handlerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tasks-handlerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tasks-handlerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tasks-handlerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tasks-handlerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tasks-handlerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tasks-handlerDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/4/2020 9:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 11/4/2020 9:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentDescription] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Priority] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[EditDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[UserIdEdit] [int] NOT NULL,
	[TimeSpent] [nvarchar](max) NULL,
	[WayOfSolving] [nvarchar](max) NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/4/2020 9:20:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201031093117_InitialCreate', N'3.1.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201031112518_User', N'3.1.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201031114708_UserAssignmentRelation', N'3.1.9')
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([Id], [AssignmentDescription], [Note], [Status], [Priority], [UserId], [CreateDate], [EditDate], [EndDate], [StartDate], [UserIdEdit], [TimeSpent], [WayOfSolving]) VALUES (17, N'Compare dates', NULL, N'Done', N'Low', 1, CAST(N'2020-11-02T20:14:37.8904458' AS DateTime2), CAST(N'2020-11-02T21:26:25.1553176' AS DateTime2), CAST(N'2020-11-03T20:14:37.8904458' AS DateTime2), CAST(N'2020-11-02T21:09:22.5655211' AS DateTime2), 1, N'1 hour', N'Add some functionality to interface implementation.')
INSERT [dbo].[Assignments] ([Id], [AssignmentDescription], [Note], [Status], [Priority], [UserId], [CreateDate], [EditDate], [EndDate], [StartDate], [UserIdEdit], [TimeSpent], [WayOfSolving]) VALUES (20, N'Do filtering', N'none', N'OnHold', N'Medium', 5, CAST(N'2020-11-02T20:45:15.9084584' AS DateTime2), CAST(N'2020-11-02T20:45:15.9084586' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 5, NULL, NULL)
INSERT [dbo].[Assignments] ([Id], [AssignmentDescription], [Note], [Status], [Priority], [UserId], [CreateDate], [EditDate], [EndDate], [StartDate], [UserIdEdit], [TimeSpent], [WayOfSolving]) VALUES (21, N'Do date', N'none', N'OnHold', N'Low', 5, CAST(N'2020-11-02T20:45:30.4344374' AS DateTime2), CAST(N'2020-11-02T20:45:30.4344376' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [Role]) VALUES (1, N'Zeljana', N'Timarac', N'066555555', N'zeljana@example.com', 0xCA65279554C8F0D0595864B2A88DFB97BF06CF225A4FCC1BADCB20A50C47B732DBFDD8F281BB3BFE91C5A5F600F0F2BE223B535D8B92ED10D09826430D836200, 0xFCDB2BC0A901A4FB7ECC6D8ACBD293474F9F4AFB7F4B29C9F29E303CCDA08BDB08708C6B73F052294A7F7D451B11CEE28DF9E7A5660A2CB786CD1BA73818814711D533929128EE9876B822851603898761ACB9C3704CEDC1F91D3E2BDD4E608F45458B8CBA0A2297DB224BCB128ADAEFE1E3D6D762BC4C37209CFB7EF4B0AA6D, N'Admin')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [Role]) VALUES (2, N'Marija', N'Balaban', N'065777777', N'marija@example.com', 0x40DB34876D551BF1AEDDB043F04958DEF9A95FA46CB558B7FB11BA9337CAE0770301472B752AC11B42CE57B1E821BB3D95A5FC0A1552167EAC87941BDD4F051D, 0x6761EE8ECE1324FD7EE2BAA52E4B77EB381BE54CE7F72E43F0C221BDE2AE3B2839BC821B760349B962AC4A73F511B1BA9C11743ABDDE8391E9A6593161A2D1885AA4920A5841D22F6DC7FDB84FDD0E12ADDC073A888F8F31CBC1A3A0C9CBA6CF5E3AC1F21D29E5666E9771239214951B650F273FF407A3AABF48FB436654368B, N'User')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [PhoneNumber], [Email], [PasswordHash], [PasswordSalt], [Role]) VALUES (3, N'Dario', N'Kesic', N'065222222', N'dario@example.com', 0xFCE1AE500D812F0C885A88B935315E76826DFD5B90B5381FB7A23544E1D2652E58C3BF003B3BFEF50E4842BDFFE47EDA9B3F87D7C03E30C3E01D511A91AF4697, 0x482B016F40BBABD2CDEB124BC3B77FAC7D47F0E5BA98945FE3218DE5D4CCB09F9E924277BF7A5B106B0993144D77ADC1B9170CDEEE8D96506D50E6D0BA257D82202AC3DD2FBC628093BF0A434B4DCF319EF269FB28E59E8A42343C549E05D86618E6034EA354CF3E9F01AA3B0B186CF12BB4ED53F1F932AD6F7A2D3DFD09F14D, N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Assignments_UserId]    Script Date: 11/4/2020 9:20:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_UserId] ON [dbo].[Assignments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EditDate]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [EndDate]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [StartDate]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [UserIdEdit]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users_UserId]
GO
USE [master]
GO
